<mat-drawer-container class="h-full w-48">
  <mat-drawer class="bg-blue-500 w-sidebar" mode="side" opened>
    <img src="../../image/logo.png" class="ml-2 mb-5 mt-5 w-32 flex justify-cente" alt="Logo" />
    <a href="/import" class="flex justify-center text-white ml-2 mt-2">
      <i class="material-icons text-white">work</i>
      <span class="text-white ml-2">Proyectos</span>
    </a>

    <a href="" class="flex text-white ml-2 mt-50rem border-none-color">
      <i class="material-icons text-white">logout</i> Cerrar sesión
    </a>
  </mat-drawer>
</mat-drawer-container>
