<div class="h-full">
  <div class="flex justify-center items-center w-full mb-10 flex-col">
    <mat-progress-bar mode="determinate" [value]="progressBarValue"></mat-progress-bar>
    <span class="mt-2 text-blue-500">{{ getProgressMessage() }}</span>
  </div>

  <div class="flex justify-center items-center w-full">
    <mat-form-field appearance="fill">
      <mat-label>Arquivo xlsx</mat-label>
      <input matInput [value]="fileName" placeholder="Nenhum arquivo selecionado" (change)="onFileSelected($event)"
        readonly>
        <button *ngIf="!tableData.length" mat-icon-button matSuffix (click)="fileInput.click()">
          <mat-icon>file_upload</mat-icon>
        </button>

        <button *ngIf="tableData.length" mat-icon-button matSuffix (click)="clear()">
          <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
    <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx" hidden>
  </div>
 
  <div *ngIf="tableData.length" class="table-container max-h">
    <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="mt-5">
    <section>
      <div class="flex justify-end">
        <button mat-stroked-button class="mr-5" (click)="back()">Regressar</button>
        <button mat-flat-button (click)="finalize()">Finalizar</button>
      </div>
    </section>
  </div>
</div>
