<div class="flex flex-col justify-center items-center space-y-8 p-4">
  <div class="flex flex-col space-y-2 text-center">
    <span class="font-bold text-lg">Apresentação do Projeto</span>
    <span>
      Este é um pequeno projeto de teste desenvolvido para a empresa Limbic, utilizando Angular versão 18 e Angular
      Material versão 18.2.12, juntamente com TailwindCSS.
    </span>
  </div>

  <div class="flex flex-col space-y-2 text-center">
    <span class="font-bold text-lg">Funcionalidades Implementadas</span>
    <span>
      Sidebar: Uma barra lateral que exibe o logotipo da empresa e duas opções de navegação: "Proyectos" e "Cerrar
      Sesión".
    </span>
    <span>
      Proyectos: Ao clicar em "Proyectos", uma barra de progresso é exibida, indicando o status atual do processo. Além
      disso, um input é disponibilizado para carregar arquivos no formato .xlsx.
    </span>
    <span>
      Carregar Arquivo: O input permite selecionar um arquivo .xlsx do sistema de arquivos. Caso o arquivo selecionado
      não seja do tipo .xlsx, uma mensagem de erro é exibida. Se o arquivo for válido, ele é carregado e uma tabela com
      as informações do arquivo é exibida abaixo.
    </span>
    <span>
      Botões de Navegação: Dois botões são fornecidos para facilitar a navegação: "Voltar" e "Finalizar".
    </span>
  </div>

  <div class="flex flex-col space-y-2 text-center">
    <span class="font-bold text-lg">Tecnologias Utilizadas</span>
    <span>
      Angular v18: Framework utilizado para o desenvolvimento da aplicação.
    </span>
    <span>
      Angular Material v18.2.12: Biblioteca de componentes de interface de usuário utilizada para estilização e
      componentes prontos.
    </span>
    <span>
      TailwindCSS: Framework de CSS utilizado para estilização personalizada.
    </span>
  </div>
</div>
